<div class="chat-area">
  {{#if newThread}}
    <h2>You can start a conversation with the user {{reqUser.username}}</h2>
    <form action="/thread/message/{{newThread}}/{{reqUser._id}}" method="post">
      <br>
      <div>Your first message to user: {{reqUser.username}}</div>
      <br>
      <input type="text" name="message">
      <input type="submit" value="Send">
    </form>
  {{else}}

    {{#if thread}}
      <h2>Your conversation with the user {{reqUser.username}}</h2>

      {{#each thread.messages}}
        {{#if this.isCurrUserOwned}}
          <div class="outer owner-color">
            {{#if this.isHyperLink}}
              <div>Message: <a href="{{this.message}}" target="_blank">{{this.message}}</a></div>
            {{else}}
              {{#if this.isImage}}
                <div>Message: <img src="{{this.message}}" /></div>
              {{else}}
                <div>Message: {{this.message}}</div>
              {{/if}}
            {{/if}}
            <br />
            <div>Author: {{this.creator.username}}</div>
            <br />
            <div>Posted on: {{this.createdAt}}</div>
            <img src="{{this.creator.avatar}}" class='avatar' />
            <div class='likes-block'>
              <img src='/icons/ThumbsUp-128.png' /> Likes: {{this.likes.length}}
            </div>
          </div>

        {{else}}

          <div class="outer recipient-color">
            {{#if this.isHyperLink}}
              <div>Message: <a href="{{this.message}}" target="_blank">{{this.message}}</a></div>
            {{else}}
              {{#if this.isImage}}
                <div>Message: <img src="{{this.message}}" /></div>
              {{else}}
                <div>Message: {{this.message}}</div>
              {{/if}}
            {{/if}}
            <br />
            <div>Author: {{this.creator.username}}</div>
            <br />
            <div>Posted on: {{this.createdAt}}</div>
            <img src="{{this.creator.avatar}}" class='avatar' />
            <div class='likes-block'>
              <a href='/message/like/{{this._id}}/{{this.creator._id}}'><img src='/icons/ThumbsUp-128.png' /> Like this</a>
              - {{this.likes.length}}
              {{#if this.likes.length}}
                <a href='/message/dislike/{{this._id}}/{{this.creator._id}}'><img src='/icons/thumbs-down2-128.png' />
                  Dislike</a>
              {{/if}}
            </div>
          </div>
        {{/if}}
      {{/each}}
    {{/if}}

    {{#if thread.isBlockedFromMe}}
      <div>You have blocked this user. <a href="/users/unblock/{{reqUser._id}}">Unblock</a></div>
    {{else}}
      {{#if thread.isBlockedFromOther}}
        <div>You are currently blocked from this user and can not send him message anymore!</div>
      {{else}}
        <form action="/thread/message/{{thread._id}}/{{reqUser._id}}" method="post">
          <br>
          <div>Your new message to user: {{reqUser.username}} ------- <a href="/users/block/{{reqUser._id}}">Block
            this user</a></div>
          <br>
          <input type="text" name="message">
          <input type="submit" value="Send">
        </form>
      {{/if}}
    {{/if}}

  {{/if}}
</div>

{{#if globalError}}
  <h3>{{globalError}}</h3>
{{/if}}
