<div class="main-area">
    <aside>
        <button name="plane" value="plane" onclick="switchDisplay(this.value)">Plane</button>
        <button name="accessory" value="accessory" onclick="switchDisplay(this.value)">Accessory</button>
    </aside>

    <main id="guz" style="display: none">
        <form action="/users/register" method="POST" enctype="multipart/form-data" class="flex">
            <fieldset>
                <p>Required fields</p>


                <div class="input-wrapper">
                    <label for="firstName">First name:</label>
                    <input type="text" name="firstName" id="firstName" placeholder="First name" value="{{firstName}}" />
                </div>

                <div class="input-wrapper">
                    <label for="lastName">Last name:</label>
                    <input type="text" name="lastName" id="lastName" placeholder="Last name" value="{{lastName}}" />
                </div>

                <div class="input-wrapper">
                    <label for="company">Company:</label>
                    <input type="text" name="company" id="company" placeholder="Company" value="{{company}}" />
                </div>

                <div class="input-wrapper">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Password" value="{{password}}" />
                </div>

                <div class="input-wrapper">
                    <label for="confirmPassword">Confirm password:</label>
                    <input type="password" name="confirmPassword" id="ConfirmPassword" placeholder="Confirm password" value="{{confirmPassword}}" />
                </div>
            </fieldset>

            <fieldset>
                <p>Required fields</p>

                <div class="input-wrapper">
                    <label for="location">Location:</label>
                    <input type="text" name="location" id="location" placeholder="Location/Address" value="{{location}}" />
                </div>

                <div class="input-wrapper">
                    <label for="avatar">Avatar:</label>
                    <input type="file" accept="image/*" name="avatar" id="avatar" />
                </div>
            </fieldset>

            <input type="submit" value="Register" />
        </form>
    </main>

    <main id="dupe" style="display: none">
        <form action="/users/register" method="POST" enctype="multipart/form-data" class="flex">
            <fieldset>
                <p>Optional fields</p>


                <div class="input-wrapper">
                    <label for="firstName">First name:</label>
                    <input type="text" name="firstName" id="firstName" placeholder="First name" value="{{firstName}}" />
                </div>

                <div class="input-wrapper">
                    <label for="lastName">Last name:</label>
                    <input type="text" name="lastName" id="lastName" placeholder="Last name" value="{{lastName}}" />
                </div>

                <div class="input-wrapper">
                    <label for="company">Company:</label>
                    <input type="text" name="company" id="company" placeholder="Company" value="{{company}}" />
                </div>

                <div class="input-wrapper">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Password" value="{{password}}" />
                </div>

                <div class="input-wrapper">
                    <label for="confirmPassword">Confirm password:</label>
                    <input type="password" name="confirmPassword" id="ConfirmPassword" placeholder="Confirm password" value="{{confirmPassword}}" />
                </div>
            </fieldset>

            <fieldset>
                <p>Optional fields</p>

                <div class="input-wrapper">
                    <label for="location">Location:</label>
                    <input type="text" name="location" id="location" placeholder="Location/Address" value="{{location}}" />
                </div>

                <div class="input-wrapper">
                    <label for="avatar">Avatar:</label>
                    <input type="file" accept="image/*" name="avatar" id="avatar" />
                </div>
            </fieldset>

            <input type="submit" value="Register" />
        </form>
    </main>
</div>

<script>function switchDisplay (value) {
    switch (value) {
        case 'plane':
            document.getElementById('dupe').style.display = 'none'
            document.getElementById('guz').style.display = 'block'
            break
        case 'accessory':
            document.getElementById('guz').style.display = 'none'
            document.getElementById('dupe').style.display = 'block'
            break
        default:
          console.log('An error has occurred. Please reload the page!')
    }
}</script>
