<!DOCTYPE html>
<html lang="en">
<head>
    <title>Planes BG</title>
    <link href="/css/reset.css" type="text/css" rel="stylesheet" />
    <link href="/css/site.css" type="text/css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="/icons/military_16-128.png" />
</head>
<body>
<div class="container">
    <h1>Planes.bg - all planes in one place</h1>

    <ul class="menu flex">
        <li class="selected" id="home"><a href="/">Home</a></li>
        <li id="latest"><a href="/latest">Latest articles</a></li>
        <li id="search"><a href="/search">Search</a></li>
        <li class="spacer"></li>
        {{#if currentUser}}
            <li id="post-article"><a href="/article/create">Post Article</a></li>
            <li class='avatar-holder'>Welcome {{currentUser.company ? currentUser.company : currentUser.firstName}} <img src='{{currentUser.avatar}}' class='avatar-user-menu' /></li>
            <li id="logout">
                <form id="logout-form" action="/users/logout" method="POST"></form>
                <a href="javascript:document.getElementById('logout-form').submit()">Logout</a>
            </li>
        {{else}}
            <li id="register"><a href="/users/register">Register</a></li>
            <li id="login"><a href="/users/login">Login</a></li>
        {{/if}}
    </ul>

    {{#if globalError}}
        <div class="global-error">{{globalError}}</div>
    {{/if}}
    {{{body}}}
</div>
</body>
</html>